$primary-color: #2389DA;
$primary-color-with-opacity: rgba(35, 137, 218, 0.1);
$text-color: #212121;
$small-text-color: #7E7E7E;

$primary-font-family: "Playfair Display", serif;
$secondary-font-family: 'Montserrat', sans-serif;
$third-font-family: 'Poppins', sans-serif;

$white-color: #fff;
$gray-color: #7E7E7E;